{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}


{% block content %}
    <h1>{{ post.title|censor }}</h1>
    <h3>{{ post.post_time|date:'d M Y' }}</h3>
    <hr>
    <div style="font-size: 19px; line-height: 1.8; color: #800080;">
        {{ post.content|censor }}
    </div>
    <p>Рейтинг: {{ post.rating }}</p>

    {% if request.user.is_authenticated %}
        {% if user_vote %}
            {% if user_vote.is_like %}
                <form action="{% url 'like_post' post.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Unlike</button>
                </form>
                <form action="{% url 'dislike_post' post.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Dislike</button>
                </form>
            {% else %}
                <form action="{% url 'like_post' post.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Like</button>
                </form>
                <form action="{% url 'dislike_post' post.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Undislike</button>
                </form>
            {% endif %}
        {% else %}
            <form action="{% url 'like_post' post.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Like</button>
            </form>
            <form action="{% url 'dislike_post' post.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Dislike</button>
            </form>
        {% endif %}
    {% else %}
        <p>Чтобы проголосовать, пожалуйста, <a href="{% url 'login' %}">войдите</a> в свой аккаунт.</p>
    {% endif %}

    <div>
        <a href="{% url 'news_list' %}">К списку новостей</a>
    </div>
{% endblock content %}